<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>store list</title>
</head>
<body>
    <ul>
    {{range .products}}
    <li><a href="/product/show/{{.ID}}">{{.Name}} {{.ListPrice}}円</a> - <a href="/product/delete/{{.ID}}">削除</a></li>
    {{end}}
    </ul>
    <br>
    <form action="/product/add" method="post">
    <p>品名：<input type="text" name="product_name"></p>
    <p>定価：<input type="text" name="product_list_price">円</p>
    <p><input type="submit" value="送信"></p>
    </form>
</body>
</html>