<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{.product.Name}}</title>
</head>
<body>
    <h1>{{.product.Name}}</h1>
    <form action="/product/update/list_price" method="post">
    <input type="hidden" name="id" value="{{.product.ID}}">
    <h2>定価<input type="text" name="list_price" value="{{.product.ListPrice}}">円</h2>
    <input type="submit" value="更新">
    </form>
    <br>
    <h3>値段順</h3>
    <ul>
    {{range .productPrices}}
    <li>
    <a href="/store/show/{{.StoreID}}">{{.StoreName}}({{.Price}}円)</a>
    </li>
    {{end}}
    </ul>
    <br>
    <a href="/product/delete/{{.product.ID}}">削除</a>
    <br>
    <a href="/product/list">戻る</a>
</body>
</html>