<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>store list</title>
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{.API_KEY}}&callback=initMap"
        defer    
    ></script>
    <style type="text/css">
        #map {
            height: 500px;
            width: 500px;
        }
    </style>
    <script type="text/javascript">
        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {lat: 35.028892, lng: 135.779271},
                zoom: 15,
            });
            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };
                        map.setCenter(pos);
                    }
                )
            }
            {{range .stores}}
                new google.maps.Marker({
                    position: {
                        lat: {{.Lat}},
                        lng: {{.Lng}}
                    },
                    map: map,
                });
            {{end}}
        }
    </script>
</head>
<body>
    <div id="map"></div>
    <ul>
        {{range .stores}}
        <li>{{.ID}} {{.Name}} {{.Address}} - <a href="/store/delete/{{.ID}}">delete</a></li>
        {{end}}
    </ul>
    <br>
    <form action="/store/add" method="post">
    <p>店の名前 : <input type="text" name="store_name"></p>
    <p>住所 : <input type="text" name="address"></p>
    <p><input type="submit" value="送信"></p>
    </form>
</body>
</html>